@charset "UTF-8";
.addCart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FCFAFA;
  z-index: 120;
}

.addCart.slide-enter-active, .addCart.slide-leave-active {
  transition: all 0.3s;
}

.addCart.slide-enter, .addCart.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

.addCart .addCart-header {
  display: flex;
  padding: 10px;
  font-size: 16px;
  background: #F7F5F5;
}

.addCart .addCart-header .icon {
  flex: 1;
  font-size: 20px;
}

.addCart .addCart-header .mangage {
  flex: 1;
  text-align: right;
  font-size: 15px;
}

.addCart .addCart-header .text {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.addCart .line {
  height: 36px;
  background: #E9E8E8;
  line-height: 36px;
  padding-left: 10px;
}

.addCart .line .text {
  font-size: 14px;
}

.addCart .addcart-name {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
}

.addCart .addcart-name .name {
  display: flex;
}

.addCart .addcart-name .name .label {
  flex: 0 0 42pxï¼›;
}

.addCart .addcart-name .name .adName {
  flex: 1;
  outline: 0;
  border: none;
  border-bottom: 1px solid rgba(7, 17, 27, 0.2);
  padding-bottom: 10px;
}

.addCart .addcart-name .name .adName:focus {
  outline: 0;
}
