$blue: #2395ff;
$sliver: rgba(7, 17, 27, 0.4);
$slicerLight: rgba(7, 17, 27, 0.8);
.commit{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 60;
  .commit-header{
    position: fixed;
    top: 0;
    width: 100%;
    color:white;
    font-size: 18px;
    height: 120px;
    background: $blue;
    padding-top: 15px;
    .icon{
      position: absolute;
      left: 15px;
    }
    .text{
      text-align: center;
    }
  }
  .commit-wrapper{
    overflow: hidden;
    position: absolute;
    top: 40px;
    height: 100%;
    width: 100%;
    z-index: 50;
    .commit-index{
      height: 80px;
    };
    .commit-content{
      background: #DFDDDD;
      position: relative;
      width: 100%;
      .content-first{
        width: 90%;
        height: 120px;
        position: absolute;
        top: -70px;
        background: white;
        margin-left: 5%;
        border-radius: 4px;
        height:120px;
        .address{
          text-align: center;
          line-height: 30px;
          padding: 10px 10px 0 10px;
          position: relative;
          .address-text{
            font-size: 16px;
            font-weight: bold;
            margin: 0;
          }
          .address-name{
            font-size: 12px;
            margin: 0;
            border-bottom: 1px dashed #ddd;
          }
          .address-icon{
            height: 20px;
            width: 20px;
            transform: rotate(180deg);
            position: absolute;
            top: 30px;
            left: 90%;
            .icon{
              color: $sliver;
            }
          }
        }
        .time{
          font-size: 16px;
          padding-left:10px;
          font-weight: bold;
          line-height: 40px;
          .text{
            color:$blue;
            font-size:14px;
            font-weight: normal
          }
        }
      }
      .content-second{
        margin-left: 5%;
        width: 90%;
        position: relative;
        top:60px;
        background:white;
        border-radius: 4px;
        padding-top: 10px;
        .restruant{
          display: flex;
          height: 36px;
          line-height: 36px;
          .name{
            flex: 1;
            padding-left:10px;
            font-size: 14px;
          };
          .bg{
            flex: 0 0 80px;
            background: url('./logo.jpg');
            width:80px;
            background-size: auto 24px;
            background-repeat: no-repeat;
            height:24px;
            margin-top:6px;
          }
        }
        .foodList{
          width:99%;
          padding:10px 2px;
          .foodList-list{
            display: flex;
            background: #EEECEC;
            padding:10px;
            margin-bottom:10px;
            .li-left{
              flex: 0 0 60px;
              width: 60px;
              height: 60px;
            }
            .li-center{
              flex: 1;
              padding-left:10px;
              font-size: 14px;
              line-height: 20px;
              .count{
                color: $sliver
              }
            }
            .li-right{
              flex: 0 0 40px;
            }
          }
          .more{
            margin-top:20px;
            font-size: 14px;
            color: $slicerLight;
            text-align: center;
            div{
              display: inline-block;
              border: 1px solid $sliver;
              padding: 5px;
              .icon{
                vertical-align: middle;
              }
            }
          }
        }
        .roadPrice{
          display: flex;
          padding: 10px 10px;
          &.bb{
            border-bottom:1px solid #ddd;
          }
          .text{
            flex: 1
          }
          .price{
            flex: 0 0 40px;
            text-align: right
          }
        }
        .totalPrice{
          text-align: right;
          padding:15px 10px;
        }
      }
    }
    .content-last{
      background: white;
      position: relative;
      width: 85%;
      top: 70px;
      margin-left: 5%;
      padding: 0 10px;
      .payType{
        padding: 20px 10px;
        display: flex;
        font-size:14px;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        .payType-type{
          flex: 1;
          font-weight: bold;
        }
        .payType-online{
          flex: 0 0 60px;
          font-weight: bold;
        }
      }
      .remark{
        padding: 20px 10px;
        display: flex;
        font-size:14px;
        .remark-type{
          flex: 1;
          font-weight: bold;
        }
        .payType-online{
          flex: 0 0 60px;
          font-weight: bold;
        }
      }
    }
    .clearFloat{
      height: 170px;
      background: #DFDDDD
    }
  }
  .commit-footer{
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    height: 50px;
    background: black;
    z-index: 100;
    display: flex;
    line-height: 50px;
    .price{
      flex: 1;
      color:white;
      text-align: right;
      padding-right:10px;
    }
    .commit-button{
      background: $blue;
      color:white;
      flex: 0 0 120px;
      height:100%;
      text-align: center;
    }
  }
}